{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}


{% block body %}
<div class="my-5 about_page">
    <div class="mb-5">
        <h2 class="border-0 mb-4 text-info">Welcome to Bloggr {{ render_icon('emoji-smile') }}</h2>
        <h5> A weblog application service for everyone and everything. </h5>
    </div>

    <div>
        <h3 class="border=0 text-info">Mission</h3>
        Our mission is to create a safe-space for users around the world to express themselves
        or write about whatever they want to without fear of any kind. <br> <br>

        Knowing how wild and vast the human mind can be, we want to create a safe, non-judgemental community where people can
        openly and willingly share their thoughts, regardless of who, where and when it came from or what it's about.
        <p>We are open to every category of contents. Sports, documentaries, politics, festivals etc...</p>
    </div>

    <p>Come and share with us your wildest thoughts and ideas. </p>
    <a class="btn btn-primary my-5" id="register" href="{{ url_for('auth.register') }}">Get Started</a>

</div>
<hr>
<footer>Copyright (c) 2022 <br> All Rights Reserved</footer>
{% endblock %}