{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_messages, render_icon %}


{% block body %}
<p>{{ render_messages(dismissible=True, dismiss_animate=True) }}</p>
{% if current_user == user %}
    <h3>My Account <a id="chng_pwd" href="{{ url_for('auth.change_password') }}">Change Password</a></h3>
{% else %}
    <h3 >{{ user.get_full_name()|title }}</h3>
{% endif %}

<div class="about">
    <p>{{ user.about.capitalize() }}</p>
    <p>Contact <br>{{ render_icon('envelope') }}: <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% if user.socials %}
        <p class="socials">Socials: <br>
            <a href="{{ user.socials.split()[1] }}">{{ user.socials.split()[0] }}</a>
            {% if "GitHub" == user.socials.split()[0] %}  {{ render_icon('github', size='1.2rem') }}
            {% elif "LinkedIn" == user.socials.split()[0] %}  {{ render_icon('linkedin', size='1.2rem', color='primary') }}
            {% else %} {{ render_icon('twitter', size='1.2rem', color='primary') }}
            {% endif %}
        </p>
    {% endif %}
</div>

{% if current_user == user %}
    <div class  ="account_options" >
        <a id="update" class="btn btn-outline-secondary p-2 me-5" href="{{ url_for('users.update_user_account', user_id=current_user.id) }}">Update Account</a>
        <a id="delete" class="btn btn-outline-danger p-2" href="{{ url_for('users.delete_user_account', user_id=current_user.id) }}">Delete Account</a>
    </div>
{% endif %}

{% if user.blogs %}
    <hr>
    <div class="my-5">
        <h4>Blogs by {{ user }}</h4>
        <div class="blog_container">
            {% for blog in user.blogs %}
            <a id="u_blogs" href="{{ url_for('blogs.get_single_blog', blog_id=blog.id) }}">{{ blog.title|title }}</a>
            &ThickSpace; - {{ blog.date_posted.date().strftime('%Y/%m/%d') }} <br>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endblock %}