{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon, render_messages %}


{% block body %}
<p>{{ render_messages(dismissible=True, dismiss_animate=True) }}</p>
{% if not blogs %}
    <h3 class="border-0">There are currently no blogs yet.</h3>
    {% if current_user.is_authenticated %}
        <h5><a href="{{ url_for('blogs.add_blog') }}">Add a Blog</a></h5>
    {% else %}
        <h5><a href="{{ url_for('auth.register') }}">Create an Account</a> and add a blog</h5>
    {% endif %}
{% else %}
    <div class="blog_container">
        {% for blog in blogs %}
            <article class="my-5">
                {{ render_icon('cursor-fill', '1rem') }}<a href="{{ url_for('blogs.get_single_blog', blog_id=blog.id) }}"> {{ blog.title|title }} </a> <br>
                <div class="mx-4">
                    <span class="blog_post">  {{ blog.content.split()[:35]|join(' ')|safe }} ... </span> <br> <br>
                    <span class="blog_details text-muted"> {{ render_icon('tag', '1.5rem') }} {{ blog.tag }} <br>
                        Posted: {{ blog.date_posted.date() }} </span> <br>
                </div>
            </article>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
